/* reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1em;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
hgroup:after, 
nav:after, 
form:after, 
footer:after, 
header:after, 
section:after, 
div:after, 
ul:after, 
ol:after, 
li:after, 
dl:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

/* global structure */
body {
  background: whitesmoke;
  color: #2b2b2b;
  font-size: 10px;
  font-family: Lato, 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.wrapper {
  margin: 0 auto;
  position: relative;
  width: 960px;
}
.header {
  padding: 50px 0;
  color: #fff;
  text-align: center;
  background: #1d193d url(../img/bg-header.jpg) no-repeat 0 0;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}
.content {
  padding: 50px 0;
}

/* header */
.header img {margin-bottom:10px;}
.header .btn {margin: 0 10px;}


/* typography */
h1, h2, h3 {
  font-size: 8em;
  line-height: 1em;
  font-weight: 900;
  text-transform: uppercase;
}
h2 {
  margin-bottom: 1em;
  font-size: 3em;
  font-weight: 300;
  text-transform: none;
  color: #8e8ed6;
}
h3 {
  margin-bottom: .4em;
  font-size: 2.4em;
  font-weight: 700;
  text-transform: none;
  color: #2b2b2b;
}
p {
  margin-bottom:1em;
  font-size: 1.8em;
  line-height: 1.4em;
  font-weight: 500;
}
a {
  color: #6e44ad;
  font-weight: 700;
}
a:hover,
a:visited {
  color: #8e8ed6;
}


/* components */
/* form */
input {
  display: block;
  width: 100%;
  color: #777;
  font-size: 1.4em;
  line-height: 1em;
  height: 40px;
  vertical-align: middle;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 4px;
}


/* buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
  line-height: 1em;
  font-weight: 500;
  padding: 15px 40px;
  color: #fff;
  background-color: #6e44ad;
  border-radius: 4px;
}

/* sections */
.submit-own, .most-popular {
  width: 48%;
  margin-right: 4%;
  float: left;
}
.most-popular {margin: 0;}
.submit-own form {
  background-color: #e0deec;
  padding: 20px;
  border-radius: 4px;
}
.submit-own input[type=text] {
  border-radius: 4px 0 0 4px;
  width: 70%;
  float: left;
}
.submit-own .btn {
  border-radius: 0 4px 4px 0;
  padding: 10px;
  width: 30%;
  float: right;
  text-align: center;
}





hr {
  border-top: 1px dashed #CCC;
  border-bottom: 1px dashed white;
}

code {
  color: #DD8D03;
}

dd {
  margin-bottom: 8px;
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.header .span5 {
  text-align: center;
}

.header a {
  margin-top: 5px;
  margin-right: 5px;
}

.main p {
  text-align: center;
}

#most-popular h4 {
  margin-left: 105px;
}

.install {
  margin-top: 25px;
}

.install code {
  font-size: 16px;
  margin-left: 5px;
  white-space: pre;
}

.table caption {
  margin-bottom: 15px;
}

.table th {
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.table th:hover {
  text-decoration: underline;
}

.table td:first-child {
  font-size: 16px;
}

.table th[data-sort='modified'],
.table td.modified {
  white-space: pre;
}

.credit {
  text-align: center;
  margin-top: 60px;
}

.credit img {
  margin-right: 3px;
  border-radius: 25px;
}


@media (max-width: 480px) {
  h1 {
    font-size: 70px;
    padding: 0;
  }

  h2 {
    font-size: 13px;
    line-height: 1.2;
  }

  input[type='search'] {
    font-size: 16px;
  }

  .header {
    margin-top: 10px;
  }

  .header a {
    padding: 8px;
  }

  .logo {
    width: 150px;
  }

  .table {
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .table th:first-child,
  .table td:first-child {
    padding-left: 10px;
  }

  .table th[data-sort='modified'],
  .table td.modified {
    display: none;
  }
}

@media (max-width: 767px) {
  .intro .span7 {
    margin-top: 40px;
  }

  #plugins-latest h4 {
    margin: 0;
  }

  .table th[data-sort='author'],
  .table td.author {
    display: none;
  }
}
