<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Web Components Gallery for Modern Web Apps">

	<title>Custom Elements - A Web Components Gallery for Modern Web Apps</title>

	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="header">
		<div class="wrapper">
			<img src="img/logo.png" alt="Logo">
			<h1>Custom Elements</h1>
			<h2>Web Components Gallery for Modern Web Apps</h2>
		</div>
	</header>

	<main class="content">
		<div class="wrapper">
			<div class="row">
				<section class="submit-own span5">
					<h3>Submit your own</h3>
					<p>Got a great idea for a custom element? Awesome! First, take a glance at the <a href="http://www.w3.org/TR/2013/WD-components-intro-20130606/">Web Components specification</a>. There's also a <a href="https://github.com/customelements/boilerplate-element">boilerplate</a> you can fork and get up and running with a simple component using <a href="http://www.polymer-project.org">Polymer</a>'s polyfill.</p>
					<p>When you're ready to go, submit it to the form below and it'll appear on this site for others to play and use!</p>
					<form action="" id="form-github-add">
						<input type="text" name="repo" id="repo" placeholder="https://github.com/me/my-element">
						<input type="submit" class="btn">
					</form>
				</section>
				<section class="most-popular span7">
					<div id="most-popular"></div>
				</section>
			</div>

			<div class="row">
				<section class="main span12">
					<div id="loading">
						<p>Loading elements...</p>
					</div>
					<div id="all"></div>
				</section>
			</div>
		</div>
	</main>

	<footer class="credit row">
		<div class="span12">
			<p>Made with love by Bernard De Luna, Eduardo Lundgren and Zeno Rocha.</p>
		</div>
	</footer>

	<script type="text/template" id="most-popular-template">
		<h3>Most popular elements</h3>
		<dl class="dl-horizontal">
			<% _.each(modules, function (el) { %>
				<dt><a href="<%- el.url %>"><%- el.name %></a></dt>
				<dd><%- el.description %></dd>
			<% }); %>
		</dl>
	</script>​

	<script type="text/template" id="all-template">
		<table class="table">
			<caption>
				<input style="display:none" class="search input-medium search-query" type="search" placeholder="Search in <%= modules.length %> plugins..." autofocus>
			</caption>
			<thead>
				<tr>
					<th class="sort" data-sort="name">Name</th>
					<th class="sort" data-sort="desc">Description</th>
					<th class="sort" data-sort="stars">Stars</th>
					<th class="sort" data-sort="author">Author</th>
				</tr>
			</thead>
			<tbody class="list">
				<% _.each(modules, function (el) { %>
					<tr>
						<td class="name"><a href="<%- el.url %>"><%- el.name %></a></td>
						<td class="desc"><%- el.description %></td>
						<td class="stars"><%- el.stars %></time></td>
						<td class="author"><a href="<%- el.author.url %>"><%- el.author.name %></a></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
	</script>​

	<script src="js/vendor/jquery.js"></script>
	<script src="js/vendor/jquery.timeago.js"></script>
	<script src="js/vendor/list.js"></script>
	<script src="js/vendor/lodash.js"></script>
	<script src="js/github.js"></script>
	<script src="js/main.js"></script>

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-4114546-39', 'customelements.io');
	ga('send', 'pageview');
	</script>
</body>
</html>