<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Web Components Gallery for Modern Web Apps">
    <meta itemprop="image" content="http://customelements.io/img/profile-200.jpg">

    <title>Custom Elements - A Web Components Gallery for Modern Web Apps</title>

    <!-- Web Components' Polyfill -->
    <script type="text/javascript" src="bower_components/platform/platform.js"></script>

    <!-- Fonts -->
    <script type="text/javascript" src="//use.typekit.net/wyk6ixu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css">

    <!-- IE Pinned Sites -->
    <meta name="application-name" content="Custom Elements">
    <meta name="msapplication-tooltip" content="A Web Components Gallery for Modern Web Apps">
    <meta name="msapplication-TileImage" content="img/profile-ie.png"/>
    <meta name="msapplication-TileColor" content="#1e183e"/>

    <!-- iOS Web app -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Custom Elements">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <!-- Chrome Mobile -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="img/profile-chrome.png">

    <!-- Web Components -->
    <link rel="import" href="bower_components/facebook-button/dist/facebook-button.html">
    <link rel="import" href="bower_components/twitter-button/dist/twitter-button.html">
    <link rel="import" href="bower_components/github-button/dist/github-button.html">
    <link rel="import" href="bower_components/gplus-elements/dist/gplus-one.html">
    <link rel="import" href="bower_components/love-heart/love-heart.html">
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <img src="img/logo.png" alt="Logo">
            <h1>Custom Elements</h1>
            <h2>A Web Components Gallery for Modern Web Apps</h2>
        </div>
    </header>

    <main class="content">
        <!-- Social -->
        <ul class="social-buttons">
            <li class="tweet-btn">
                <twitter-button type="share" href="http://customelements.io/" height="20" width="100" text="http://customelements.io ~ A Web Components Gallery for Modern Web Apps"></twitter-button>
            </li>
            <li class="fb-btn">
                <facebook-button href="http://customelements.io/" layout="button_count" height="20" width="90"></facebook-button>
            </li>
            <li class="gplus-btn">
                <gplus-one size="medium" href="http://customelements.io"></gplus-one>
            </li>
            <li class="gh-btn">
                <github-button height="20" user="webcomponents" repo="customelements.io"></github-button>
            </li>
        </ul>

        <!-- Sections -->
        <div class="wrapper">
            <!-- What is Web Components? -->
            <section class="what-is-wc section">
                <h3>What are Web Components?</h3>
                <p>Web Components are a collection of standards which are working their way through the W3C. They enable truly encapsulated and reusable components for the web. And if you think HTML5 changed the web, wait to see what Web Components will do.</p>
                <p>For lots more information about it, including articles and presentations, check out <a href="http://webcomponents.org">webcomponents.org</a>.</p>
                <p style="float: right;">— <a href="http://twitter.com/zenorocha/">Zeno Rocha</a>, project lead.</p>
            </section>

            <!-- Submit your own -->
            <section class="submit-own section">
                <h3>Submit your own</h3>
                <p>Got a great idea for a custom element? Awesome! There are boilerplates for <a href="https://github.com/webcomponents/polymer-boilerplate">Polymer</a>, <a href="https://github.com/webcomponents/x-tag-boilerplate">X-Tag</a>, and <a href="https://github.com/webcomponents/element-boilerplate">VanillaJS</a> that you can fork and get up and running with a simple component.</p>
                <p>When you're ready to go, submit it to the form below and it'll appear on this site for others to play and use!</p>
                <form action="" id="form-github-add">
                    <input type="text" name="repo" id="repo" placeholder="https://github.com/me/my-element" required>
                    <button class="btn">Submit</button>
                </form>
            </section>

            <!-- Latest elements -->
            <section class="latest-popular section">
                <div id="latest-popular"></div>
            </section>

            <!-- Most popular elements -->
            <section class="most-popular section">
                <div id="most-popular"></div>
            </section>

            <!-- List of elements -->
            <section class="main">
                <div id="loading">
                    <p>Loading elements...</p>
                </div>
                <div id="all"></div>
                <button type="button" class="button load-more">Load more...</button>
            </section>
        </div>
    </main>

    <footer class="credits">
        <p>Made with <love-heart>♥</love-heart> by these guys and a bunch of awesome <a href="https://github.com/webcomponents/customelements.io/graphs/contributors">contributors</a>.</p>
        <ul>
            <li>
                <p><a href="https://github.com/zenorocha">
                    <img src="https://2.gravatar.com/avatar/e190023b66e2b8aa73a842b106920c93?size=50" alt="Zeno Rocha">
                    <span>Zeno Rocha</span>
                </a></p>
            </li>
            <li>
                <p><a href="https://github.com/bernarddeluna">
                    <img src="https://2.gravatar.com/avatar/bc16c9be1e05e65395487b78b1cc72c0?size=50" alt="Bernard De Luna">
                    <span>Bernard De Luna</span>
                </a></p>
            </li>
            <li>
                <p><a href="https://github.com/djalmaaraujo">
                    <img src="https://2.gravatar.com/avatar/be74fd9a577ea5ef1ab2e7c71bcfa4b5?size=50" alt="Djalma Araújo">
                    <span>Djalma Araújo</span>
                </a></p>
            </li>
            <li>
                <p><a href="https://github.com/eduardolundgren">
                    <img src="https://2.gravatar.com/avatar/42327de520e674a6d1686845b30778d0?size=50" alt="Eduardo Lundgren">
                    <span>Eduardo Lundgren</span>
                </a></p>
            </li>
        </ul>
    </footer>

    <script type="text/template" id="latest-elements-template">
        <h3>Latest elements</h3>
        <dl class="dl-horizontal">
            <% _.each(modules, function (el) { %>
                <dt><a href="<%- el.url %>"><%- el.name %></a></dt>
                <dd><%- el.description %></dd>
            <% }); %>
        </dl>
    </script>​

    <script type="text/template" id="most-popular-template">
        <h3>Most popular elements</h3>
        <dl class="dl-horizontal">
            <% _.each(modules, function (el) { %>
                <dt><a href="<%- el.url %>"><%- el.name %></a></dt>
                <dd><%- el.description %></dd>
            <% }); %>
        </dl>
    </script>​

    <script type="text/template" id="all-template">
        <table class="table">
            <caption>
                <input class="search input-medium search-query" type="search" placeholder="Search in <%= modules.length %> elements...">
            </caption>
            <thead>
                <tr>
                    <th class="sort name" data-sort="name">Name</th>
                    <th class="sort desc" data-sort="desc">Description</th>
                    <th class="sort stars" data-sort="stars">Stars</th>
                    <th class="sort forks" data-sort="forks">Forks</th>
                    <th class="sort author" data-sort="author">Author</th>
                </tr>
            </thead>
            <tbody class="list">
                <% _.each(modules, function (el) { %>
                    <tr>
                        <td class="name"><a href="<%- el.url %>"><%- el.name %></a></td>
                        <td class="desc"><%- el.description %></td>
                        <td class="stars"><%- el.stars %></td>
                        <td class="forks"><%- el.forks %></td>
                        <td class="author"><a href="<%- el.owner_url %>"><%- el.owner %></a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </script>​

    <script src="//customelementsio.herokuapp.com"></script>

    <script src="js/vendor/jquery/jquery.min.js"></script>
    <script src="js/vendor/listjs/list.min.js"></script>
    <script src="js/vendor/lodash/lodash.min.js"></script>

    <script src="dist/main.js"></script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-4114546-39', 'customelements.io');
    ga('send', 'pageview');
    </script>
</body>
</html>
