{{!< layout/default}}

<header class="header header-collapse gradient">
    <div class="container">
        <h1 class="header-title">
            <a href="/">
                <img src="/assets/images/logo.svg" alt="Logo">
                <span>Custom Elements</span>
            </a>
        </h1>
        <form class="search">
            <input name="q" class="search-field" type="text" id="search-field" autocomplete="off">
            <label class="search-label" for="search-field">
                <span class="search-label-content">Search...</span>
            </label>
        </form>
    </div>
</header>

<main class="main container">
    <div class="row">
        <h3 style="text-align:center">:( Not Found</h3>
        <div class="results-message">
            <img src="/assets/images/error.svg" alt="no result icon">
            <h4>It's ocurred an ERROR!!!</h4>
            <p>Something in this page is not correct!<br>Please try again.</p>
        </div>
    </div>
</main>
