{{!< layout/default}}

<header class="header header-collapse gradient">
    <div class="container">
        <div class="row">
            <h1 class="header-title">
                <a href="/">
                    <img src="{{base_url}}/assets/images/logo.svg" alt="Logo">
                    <span>Custom Elements</span>
                </a>
            </h1>
            <form class="search">
                <input name="q" class="search-field" type="text" id="search-field" autocomplete="off">
                <label class="search-label" for="search-field">
                    <span class="search-label-content">Search...</span>
                </label>
            </form>
        </div>
    </div>
</header>

<main class="main container error">
    <div class="error-container">
        <img class="error-img" src="{{base_url}}/assets/images/{{error_img}}.svg" alt="Error" width="330" height="330">
        <p class="error-msg">{{page_description}}</p>
    </div>
</main>