<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/search" method="GET">
        <input type="search" name="q">
        <input type="submit">
    </form>

    <h3>Recently created</h3>
    <ul>
    {{#each created}}
        <li>
            <p><a href="/{{_source.owner}}/{{_source.name}}">{{_source.name}}</a></p>
            <p>{{_source.description}}</p>
        </li>
    {{/each}}
    </ul>

    <h3>Last updated</h3>
    <ul>
    {{#each updated}}
        <li>
            <p><a href="/{{_source.owner}}/{{_source.name}}">{{_source.name}}</a></p>
            <p>{{_source.description}}</p>
        </li>
    {{/each}}
    </ul>

    <h3>Most popular</h3>
    <ul>
    {{#each popular}}
        <li>
            <p><a href="/{{_source.owner}}/{{_source.name}}">{{_source.name}}</a></p>
            <p>{{_source.description}}</p>
        </li>
    {{/each}}
    </ul>
</body>
</html>