{{!< layout/default}}

<main class="main container">
    <div class="row">
        <div class="col-md-4">
            <h3>Recently created</h3>
            {{#each recentlyCreated}}
            <paper-material class="card" elevation="1" animated data-link="https://github.com/{{_source.owner}}/{{_source.name}}/">
                <div class="card-header">
                    <h1 class="card-title">
                        <a target="_blank" href="https://github.com/{{_source.owner}}/{{_source.name}}/">{{{trim_string _source.name 0 30}}}</a>
                    </h1>
                    <h2 class="card-subtitle">
                        by <a target="_blank" href="https://github.com/{{_source.owner}}/">{{_source.owner}}</a>
                    </h2>
                </div>
                <div class="card-body">
                    <p class="card-description">{{{ trim_string _source.description 0 140}}}</p>
                </div>
                <div class="card-footer">
                    <ul class="card-info-list">
                        <li class="card-info-item">
                            <span class="icon-star"></span>
                            {{_source.stargazers_count}}
                        </li>
                        <li class="card-info-item">
                            <span class="icon-fork"></span>
                            {{_source.forks_count}}
                        </li>
                    </ul>
                </div>
            </paper-material>
            {{/each}}
        </div>
        <div class="col-md-4">
            <h3>Last updated</h3>
            {{#each lastUpdated}}
            <paper-material class="card" elevation="1" animated data-link="https://github.com/{{_source.owner}}/{{_source.name}}/">
                <div class="card-header">
                    <h1 class="card-title">
                        <a target="_blank" href="https://github.com/{{_source.owner}}/{{_source.name}}/">{{_source.name}}</a>
                    </h1>
                    <h2 class="card-subtitle">
                        by <a target="_blank" href="https://github.com/{{_source.owner}}/">{{_source.owner}}</a>
                    </h2>
                </div>
                <div class="card-body">
                    <p class="card-description">{{_source.description}}</p>
                </div>
                <div class="card-footer">
                    <ul class="card-info-list">
                        <li class="card-info-item">
                            <span class="icon-star"></span>
                            {{_source.stargazers_count}}
                        </li>
                        <li class="card-info-item">
                            <span class="icon-fork"></span>
                            {{_source.forks_count}}
                        </li>
                    </ul>
                </div>
            </paper-material>
            {{/each}}
        </div>
        <div class="col-md-4">
            <h3>Most popular</h3>
            {{#each mostPopular}}
            <paper-material class="card" elevation="1" animated data-link="https://github.com/{{_source.owner}}/{{_source.name}}/">
                <div class="card-header">
                    <h1 class="card-title">
                        <a target="_blank" href="https://github.com/{{_source.owner}}/{{_source.name}}/">{{_source.name}}</a>
                    </h1>
                    <h2 class="card-subtitle">
                        by <a target="_blank" href="https://github.com/{{_source.owner}}/">{{_source.owner}}</a>
                    </h2>
                </div>
                <div class="card-body">
                    <p class="card-description">{{_source.description}}</p>
                </div>
                <div class="card-footer">
                    <ul class="card-info-list">
                        <li class="card-info-item">
                            <span class="icon-star"></span>
                            {{_source.stargazers_count}}
                        </li>
                        <li class="card-info-item">
                            <span class="icon-fork"></span>
                            {{_source.forks_count}}
                        </li>
                    </ul>
                </div>
            </paper-material>
            {{/each}}
        </div>
    </div>
</main>

<footer class="steps">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="steps-title">How do I add it to this list?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="step-number">1</div>
                <div id="step-1" class="step-content">
                    Add the <strong>web-components</strong> keyword to your <em>bower.json</em> or <em>package.json</em> file.
                </div>
            </div>
            <div class="col-md-4">
                <div class="step-number">2</div>
                <div id="step-2" class="step-content">
                    Make sure your package is published to <a href="http://bower.io/docs/creating-packages/#register">Bower</a> or <a href="https://docs.npmjs.com/cli/publish">npm</a>.
                </div>
            </div>
            <div class="col-md-4">
                <div class="step-number">3</div>
                <div id="step-3" class="step-content">
                    Wait for it to show up! Shouldn't take longer than an hour.
                </div>
            </div>
        </div>
    </div>
</footer>
