{{!< layout/default}}

<link rel="stylesheet" href="{{base_url}}/assets/styles/owner.css">

<div class="gradient">
    <header class="header header-collapse">
        <div class="container">
            <div class="row">
                <h1 class="header-title">
                    <a href="/">
                        <img src="{{base_url}}/assets/images/logo.svg" alt="Logo">
                        <span>Custom Elements</span>
                    </a>
                </h1>
                <form class="search">
                    <input name="q" class="search-field" type="text" id="search-field" autocomplete="off">
                    <label class="search-label" for="search-field">
                        <span class="search-label-content">Search...</span>
                    </label>
                </form>
            </div>
        </div>
    </header>
</div>

<div class="owner gradient">
    <img class="owner-avatar" src="{{owner.avatar_url}}&s=300" alt="Owner's avatar">
    <h1 class="owner-name">{{#if owner.name}}{{owner.name}}{{else}}{{owner.login}}{{/if}}</h1>
    {{#if owner.company}}
    <p class="owner-company">
        <span class="icon-organization"></span>
        {{owner.company}}
    </p>
    {{/if}}
    {{#if owner.location}}
    <p class="owner-location">
        <span class="icon-location"></span>
        {{owner.location}}
    </p>
    {{/if}}
    <p class="owner-links">
        {{#if owner.blog}}
        <a class="owner-link" target="_blank" href="{{normalize_link owner.blog}}">
            <span class="owner-icon icon-sphere"></span>
        </a>
        {{/if}}
        {{#if owner.email}}
        <a class="owner-link" href="mailto:{{owner.email}}">
            <span class="owner-icon icon-mail"></span>
        </a>
        {{/if}}
        <a class="owner-link" target="_blank" href="https://github.com/{{owner.login}}">
            <span class="owner-icon icon-github"></span>
        </a>
    </p>
</div>

<main class="main container">
    {{#grouped_each 3 repos}}
    <div class="row">
      {{#each this}}
      <div class="col-md-4">
          <paper-material class="card" elevation="1" animated>
              <a class="card-link" href="/{{owner.login}}/{{name}}/"></a>
              <div class="card-header">
                  <h1 class="card-title">
                      <a href="/{{owner.login}}/{{name}}/">{{{trim_string name 30}}}</a>
                  </h1>
                  <h2 class="card-subtitle">
                      by <a href="/{{owner.login}}/">{{owner.login}}</a>
                  </h2>
              </div>
              <div class="card-body">
                  <p class="card-description">{{{trim_string description 120}}}</p>
              </div>
              <div class="card-footer">
                  <ul class="card-info-list">
                      <li class="card-info-item">
                          <span class="icon-star"></span>
                          {{stargazers_count}}
                      </li>
                      <li class="card-info-item">
                          <span class="icon-fork"></span>
                          {{forks_count}}
                      </li>
                  </ul>
              </div>
          </paper-material>
      </div>
      {{/each}}
  </div>
  {{/grouped_each}}
</main>