{{!< layout/default}}

<header class="header header-collapse gradient">
    <div class="container">
        <div class="row">
            <h1 class="header-title">
                <a href="/">
                    <img src="{{base_url}}/assets/images/logo.svg" alt="Logo">
                    <span>Custom Elements</span>
                </a>
            </h1>
            <form class="search">
                <input name="q" class="search-field" type="text" id="search-field" autocomplete="off">
                <label class="search-label" for="search-field">
                    <span class="search-label-content">Search...</span>
                </label>
            </form>
        </div>
    </div>
</header>

<div class="owner gradient">
    <img class="owner-avatar" src="https://avatars0.githubusercontent.com/u/1066253?v=3&s=300" alt="Owner's avatar">
    <h1 class="owner-name">Rob Dodson</h1>
    <p class="owner-company">
        <span class="icon-organization"></span>
        Google
    </p>
    <p class="owner-location">
        <span class="icon-location"></span>
        San Francisco, CA
    </p>
    <p class="owner-links">
        <a class="owner-link" target="_blank" href="http://robdodson.me">
            <span class="owner-icon icon-sphere"></span>
        </a>
        <a class="owner-link" target="_blank" href="mailto:robdodson@google.com">
            <span class="owner-icon icon-mail"></span>
        </a>
        <a class="owner-link" target="_blank" href="https://github.com/robdodson">
            <span class="owner-icon icon-github"></span>
        </a>
    </p>
</div>