{{!< layout/default}}

<div class="row">
    <h3 style="text-align:center">{{total}} results for "{{q}}"</h3>
</div>

{{#grouped_each 3 results}}
<div class="row">
    {{#each this}}
    <div class="col-md-4">
        <paper-material elevation="1" class="card">
            <h1><a href="/{{owner}}/{{name}}/">{{{trim_string name 0 19}}}</a></h1>
            <h2>by <a href="/{{owner}}/">{{owner}}</a></h2>
            <p>{{{trim_string description 0 90}}}</p>
        </paper-material>
    </div>
    {{/each}}
</div>
{{/grouped_each}}
