body {
    background: #eee;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header {
    background: rgba(103,58,183,1);
    height: 160px;
}

.header h1 {
    color: #fff;
    margin: 0;
    padding: 14px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.header h1 span {
    color: #9575CD;
}

/* ==========================================================================
   Main
   ========================================================================== */

.main {
    padding-top: 28px;
}

.main h3 {
    color: #78909c;
    font-size: 24px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 24px;
}

/* ==========================================================================
   Card
   ========================================================================== */

.card {
    background: #fff;
    padding: 24px;
    height: 200px;
    margin-bottom: 28px;
    position: relative;
    cursor: pointer;
}

/* Card - Header
   ========================================================================== */

.card-header .card-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.card-header .card-title a,
.card-header .card-title a:hover {
    color: #333;
}

.card-header .card-subtitle {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.card-header .card-subtitle a {
    color: #ff4081;
    text-decoration: none;
    font-weight: 400;
}

.card-header .card-subtitle a:hover {
    color: #ff4081;
    text-decoration: underline;
}

/* Card - Body
   ========================================================================== */

.card-body .card-description {
    font-size: 14px;
    font-weight: 300;
}

/* Card - Footer
   ========================================================================== */

.card-footer .card-info-list {
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 24px 0;
}

.card-footer .card-info-item {
    list-style: none;
    display: inline-block;
    margin-right: 24px;
}

.card-footer .card-info-item .icon-star {
    color: #fbc02d;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 4px;
}

.card-footer .card-info-item .icon-fork {
    color: #7c949f;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 4px;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'CustomElements';
    src:url('../fonts/CustomElements.eot?');
    src:url('../fonts/CustomElements.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CustomElements.woff?') format('woff'),
        url('../fonts/CustomElements.ttf?') format('truetype'),
        url('../fonts/CustomElements.svg?#CustomElements') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'CustomElements';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fork:before {
    content: "\e601";
}

.icon-star:before {
    content: "\e600";
}
