body {
    background: #eee;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header {
  background: #6a1b9a;
  background: -moz-linear-gradient(45deg, #6a1b9a 0%, #4a148c 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #6a1b9a), color-stop(100%, #4a148c));
  background: -webkit-linear-gradient(45deg, #6a1b9a 0%, #4a148c 100%);
  background: -o-linear-gradient(45deg, #6a1b9a 0%, #4a148c 100%);
  background: -ms-linear-gradient(45deg, #6a1b9a 0%, #4a148c 100%);
  background: linear-gradient(45deg, #6a1b9a 0%, #4a148c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a1b9a', endColorstr='#4a148c', GradientType=1 );
}

.header .logo {
    color: #fff;
    margin: 40px 0 0;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 47px;
    font-weight: 400;
    text-align: center;
    display: block;
    line-height: 40px;
}

.header .logo:hover {
  color: #fff;
  text-decoration: none;
}

.header h2 {
    color: #B388FF;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
    font-size: 24px;
    font-weight: 300;
}

.header .learn-more {
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0 10px;
}

.header .learn-more a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    transition: all .2s linear;
}

.header .learn-more a:hover {
    color: #B388FF;
    text-decoration: none;
}

/* ==========================================================================
   Main
   ========================================================================== */

.main {
    padding: 28px 0;
}

.main h3 {
    color: #78909c;
    font-size: 24px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 24px;
}

/* ==========================================================================
   Card
   ========================================================================== */

.card {
    background: #fff;
    padding: 24px;
    height: 200px;
    margin-bottom: 28px;
    position: relative;
    cursor: pointer;
}

.card .intercept-click {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: auto;
}

/* Card - Header
   ========================================================================== */

.card-header .card-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.card-header .card-title a,
.card-header .card-title a:hover {
    color: #333;
}

.card-header .card-subtitle {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.card-header .card-subtitle a {
    color: #ff4081;
    text-decoration: none;
    font-weight: 400;
    z-index: 2;
    position: relative;
}

.card-header .card-subtitle a:hover {
    color: #ff4081;
    text-decoration: underline;
}

/* Card - Body
   ========================================================================== */

.card-body .card-description {
    font-size: 14px;
    font-weight: 300;
}

/* Card - Footer
   ========================================================================== */

.card-footer .card-info-list {
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 24px 0;
}

.card-footer .card-info-item {
    list-style: none;
    display: inline-block;
    margin-right: 24px;
}

.card-footer .card-info-item .icon-star {
    color: #fbc02d;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 4px;
}

.card-footer .card-info-item .icon-fork {
    color: #7c949f;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 4px;
}

/* ==========================================================================
   Steps
   ========================================================================== */

.steps {
    background: #1f2036;
    padding: 50px;
}

.steps-title {
    color: #fff;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 32px;
}

.step-number {
    background: #fff;
    border-radius: 50%;
    color: #ff4081;
    float: left;
    font-size: 24px;
    font-weight: 300;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
}

.step-content {
    color: #fff;
    float: left;
    font-size: 18px;
    font-weight: 300;
    margin-left: 24px;
    width: 260px;
}

.step-content a,
.step-content a:hover {
    color: #ff4081;
    font-weight: 400;
}

#step-1 { margin-top: -6px; }
#step-2, #step-3 { margin-top: 6px; }

/** =========================================================================
    Footer
    ========================================================================= */

.credits {
    background: #fff;
}

.credits p {
    float: left;
    font-size: 15px;
}

.credits-link {
    color: #3a99d7;
}

.credits-link:hover {
    text-decoration: underline;
}

.credits .love {
    color: #e74c3c;
    display: inline-block;
    font-size: 1.4em;
    position: relative;
    top: .2em;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse;
}

@-webkit-keyframes love {
    to { -webkit-transform: scale(1.2); }
}

@-moz-keyframes love {
    to { -moz-transform: scale(1.2); }
}

@keyframes love {
    to { transform: scale(1.2); }
}

/* Social buttons
============================================================================= */

.social-buttons {
    float: right;
    list-style: none;
    text-align: right;
    margin-right: 40px;
}

.social-buttons li {
    display: inline-block;
    margin-left: 5px;
    overflow: hidden;
    margin-top: 5px;
}

.tweet-btn  { width: 100px; }
.fb-btn     { width: 85px;  }
.gplus-btn  { width: 70px;  }
.github-btn { width: 85px;  }

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'CustomElements';
    src:url('../fonts/CustomElements.eot?');
    src:url('../fonts/CustomElements.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CustomElements.woff?') format('woff'),
        url('../fonts/CustomElements.ttf?') format('truetype'),
        url('../fonts/CustomElements.svg?#CustomElements') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'CustomElements';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fork:before {
    content: "\e601";
}

.icon-star:before {
    content: "\e600";
}
