.search {
    background: #8781BD;
    font-size: 24px;
    margin: 0 auto;
    max-width: 450px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    z-index: 1;
}

.search-field {
    background: transparent;
    border-radius: 0;
    border: none;
    color: #9575CD;
    display: block;
    float: right;
    font-weight: 500;
    padding: 0.8em;
    position: relative;
    width: 100%;
    z-index: 10;
}

.search-field:focus {
    outline: none;
}

.search-label {
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 70.25%;
    font-weight: bold;
    padding: 0 1em;
    pointer-events: none;
    position: absolute;
    text-align: left;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-label::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 45%;
    left: 20px;
    background: url(../images/search.svg) no-repeat center center;
    background-size: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.search-label-content {
    display: block;
    padding: 1.5em 0 0 2.75em;
    position: relative;
    width: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.search-field:focus + .search-label::before,
.search-filled .search-label::before {
    -webkit-transform: scale3d(38, 38, 1);
    transform: scale3d(38, 38, 1);
}