<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <script src="/assets/vendor/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="/assets/vendor/paper-styles/typography.html">
    <link rel="import" href="/assets/vendor/paper-material/paper-material.html">

    <link rel="stylesheet" href="/assets/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/search.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1><a href="/" class="logo">Custom Elements</a></h1>
            <h2>a place to discover Web Components</h2>
            <form action="/search" method="GET">
                <div class="search">
                    <input name="q" class="search-field" type="text" id="search-search">
                    <label class="search-label" for="search-search">
                        <span class="search-label-content">Search...</span>
                    </label>
                </div>
                <p class="learn-more">
                    <a href="#steps">Learn about adding your project here</a>
                </p>
            </form>
        </div>
    </header>

    {{{content}}}

    <section id="steps" class="steps">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="steps-title">How do I add it to this list?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="step-number">1</div>
                    <div id="step-1" class="step-content">
                        Add the <strong>web-components</strong> keyword to your <em>bower.json</em> or <em>package.json</em> file
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="step-number">2</div>
                    <div id="step-2" class="step-content">
                        Make sure your package is published to <a href="http://bower.io/docs/creating-packages/#register">Bower</a> or <a href="https://docs.npmjs.com/cli/publish">npm</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="step-number">3</div>
                    <div id="step-3" class="step-content">
                        Wait for it to show up! Shouldn't take longer than an hour :)
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="credits">
        <div class="container">
            <p>Made with <span class="love">♥</span> by the <a target="_blank" class="credits-link" href="https://github.com/customelements">CustomElements.io team</a></p>
            <ul class="social-buttons">
                <li class="tweet-btn">
                    <iframe src="http://platform.twitter.com/widgets/tweet_button.1359159993.html#_=1360010161235&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;size=m&amp;url=http://customelements.io/" class="twitter-share-button twitter-count-horizontal" data-twttr-rendered="true" allowtransparency="true" frameborder="0" scrolling="no" width="100" height="20"></iframe>
                </li>
                <li class="fb-btn">
                    <iframe src="//www.facebook.com/plugins/like.php?href=http://customelements.io&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=20&amp;appId=176947299114210" allowTransparency="true" frameborder="0" scrolling="no" width="85" height="20"></iframe>
                </li>
                <li class="gplus-btn">
                    <iframe src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;hl=en-US&amp;url=http://customelements.io&amp;parent=http://customelements.io" allowtransparency="true" frameborder="0" scrolling="no" width="70" height="20"></iframe>
                </li>
                <li class="github-btn">
                    <iframe src="http://ghbtns.com/github-btn.html?user=customelements&amp;repo=www&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20"></iframe>
                </li>
            </ul>
        </div>
    </footer>

    <script src="/assets/scripts/search.js"></script>
    <script src="/assets/scripts/card.js"></script>
</body>
</html>
