<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <script src="/assets/vendor/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="/assets/vendor/paper-styles/typography.html">
    <link rel="import" href="/assets/vendor/paper-material/paper-material.html">

    <link rel="stylesheet" href="/assets/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/search.css">
</head>
<body>
    {{{content}}}

    <footer class="credits">
        <div class="container">
            <p>Made with <span class="love">♥</span> by the <a target="_blank" class="credits-link" href="https://github.com/customelements">CustomElements.io team</a></p>
            <ul class="social-buttons">
                <li class="tweet-btn">
                    <iframe src="http://platform.twitter.com/widgets/tweet_button.1359159993.html#_=1360010161235&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;size=m&amp;url=http://customelements.io/" class="twitter-share-button twitter-count-horizontal" data-twttr-rendered="true" allowtransparency="true" frameborder="0" scrolling="no" width="100" height="20"></iframe>
                </li>
                <li class="fb-btn">
                    <iframe src="//www.facebook.com/plugins/like.php?href=http://customelements.io&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=20&amp;appId=176947299114210" allowTransparency="true" frameborder="0" scrolling="no" width="85" height="20"></iframe>
                </li>
                <li class="gplus-btn">
                    <iframe src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;hl=en-US&amp;url=http://customelements.io&amp;parent=http://customelements.io" allowtransparency="true" frameborder="0" scrolling="no" width="70" height="20"></iframe>
                </li>
                <li class="github-btn">
                    <iframe src="http://ghbtns.com/github-btn.html?user=customelements&amp;repo=www&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20"></iframe>
                </li>
            </ul>
        </div>
    </footer>

    <script src="/assets/scripts/search.js"></script>
    <script src="/assets/scripts/card.js"></script>
</body>
</html>
